<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TrackerBot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TrackerBotTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TrackerBotUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D09260C5215C4A5E00F2C136</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D09260DC215C4A5E00F2C136</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D09260F0215C4E1400F2C136</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0B426AD216D067100A1589C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
